
body {
    font-family:sans-serif;
  }
  .container{
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  input{
    background-color: antiquewhite;
    margin:0px 10px 20px 50px;
    width:5%;
    padding:10px 50px;
    
  }
  .button{
    background-color:blueviolet;

  }
  .button:hover{
    color:white;
  }
  .editInput input{
    background-color: black;
    color:white;
  }
  